body{
    font-family: "Raleway",sans-serif;
    background-image: url('https://images.pexels.com/photos/1036637/pexels-photo-1036637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}
